src/Feature/SalesForceIntegration/Website/Sitecore.Feature.SalesForceIntegration.Website/ws/CaseWebService.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : CaseWebService
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/CaseWebService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/CaseWebService">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/CaseWebService">
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="Wave"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Request">
    <xsd:sequence>
     <xsd:element name="caseWrapper" minOccurs="0" type="tns:caseWrapper" nillable="true"/>
     <xsd:element name="contactId" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Response">
    <xsd:sequence>
     <xsd:element name="cases" minOccurs="0" maxOccurs="unbounded" type="tns:caseWrapper" nillable="true"/>
     <xsd:element name="messages" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
     <xsd:element name="success" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="caseWrapper">
    <xsd:sequence>
     <xsd:element name="appointmentDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="caseNumber" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="contactName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="description" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="email" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="phone" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="productDescription" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="productId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="status" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="subject" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="address">
    <xsd:complexContent>
     <xsd:extension base="tns:location">
      <xsd:sequence>
       <xsd:element name="city" type="xsd:string"/>
       <xsd:element name="country" type="xsd:string"/>
       <xsd:element name="countryCode" type="xsd:string"/>
       <xsd:element name="geocodeAccuracy" type="xsd:string"/>
       <xsd:element name="postalCode" type="xsd:string"/>
       <xsd:element name="state" type="xsd:string"/>
       <xsd:element name="stateCode" type="xsd:string"/>
       <xsd:element name="street" type="xsd:string"/>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="location">
    <xsd:sequence>
     <xsd:element name="latitude" type="xsd:double"/>
     <xsd:element name="longitude" type="xsd:double"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="addCase">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="req" type="tns:Request" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="addCaseResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:Response" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="getCases">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="req" type="tns:Request" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="getCasesResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:Response" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="updateCase">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="req" type="tns:Request" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="updateCaseResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:Response" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="addCaseRequest">
  <part element="tns:addCase" name="parameters"/>
 </message>
 <message name="addCaseResponse">
  <part element="tns:addCaseResponse" name="parameters"/>
 </message>
 <message name="getCasesRequest">
  <part element="tns:getCases" name="parameters"/>
 </message>
 <message name="getCasesResponse">
  <part element="tns:getCasesResponse" name="parameters"/>
 </message>
 <message name="updateCaseRequest">
  <part element="tns:updateCase" name="parameters"/>
 </message>
 <message name="updateCaseResponse">
  <part element="tns:updateCaseResponse" name="parameters"/>
 </message>
 <portType name="CaseWebServicePortType">
  <operation name="addCase">
   <input message="tns:addCaseRequest"/>
   <output message="tns:addCaseResponse"/>
  </operation>
  <operation name="getCases">
   <input message="tns:getCasesRequest"/>
   <output message="tns:getCasesResponse"/>
  </operation>
  <operation name="updateCase">
   <input message="tns:updateCaseRequest"/>
   <output message="tns:updateCaseResponse"/>
  </operation>
 </portType>
 <binding name="CaseWebServiceBinding" type="tns:CaseWebServicePortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="addCase">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getCases">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="updateCase">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="CaseWebServiceService">
  <documentation></documentation>
  <port binding="tns:CaseWebServiceBinding" name="CaseWebService">
   <soap:address location="https://na73.salesforce.com/services/Soap/class/CaseWebService"/>
  </port>
 </service>
</definitions>